@model GrigorDimitrovProfile.Models.Athlete
@{
    ViewData["Title"] = "Кристиано Роналдо";
}
<h1>@Model.Name</h1>
<p><strong>Спорт:</strong> @Model.Sport</p>
<p><strong>Държава:</strong> @Model.Country</p>
<p><strong>Ранг:</strong> @Model.Ranking</p>
<p><strong>Биография:</strong> @Model.Biography</p>

<a href="/Ronaldo/Details">Виж подробности (само за логнати)</a>
